**/.DS_Store
.gcs_entries
**/dmg
**/env
**/logs
**/old-scripts
**/__pycache__/**
nxtscape-cli-access.json
gclient.json
.env
packages/browseros/resources/files/ai_side_panel/.api_key_private
packages/browseros/resources/files/ai_side_panel/.env
